
.container{
    border: 2px solid black; /* Adjust thickness and color as needed */
    padding: 20px; /* Add padding inside the border */
    margin: 0; /* Remove default body margins */
    background-image: linear-gradient(blue, yellow)
    
  }
  body{
    color: white;
  }
  